body {
    background-color: #EFEFFF;
    
}

header {
    font-family: fantasy, arial, 'sans serif';
    font-weight: bolder;
    text-align:center;
    
    margin:auto;
    width: 75%;
    padding: 10px;

}

span.title {
    font-size:24px;
}

.l-blue {
    background-color: #88BBFF;
}

.purple {
    background-color: #B28FDC;
}

div.centre {
    margin: auto;
    width: 75%;
    padding: 10px;
}

footer {
    padding-top: 20px;
    font-size: 15px;
}


/*table formatting*/
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table.centre {
    margin:auto;
}

div.rightFloat {
    float: right;
    width: 20%
}





p {
    margin-top: 0;
}

span.h2 {
    font-weight: bold;
    font-size:18px;
}


img {
    /*max-width: 100%;*/
    height: auto;
    margin: auto;
    width:40%;
}  