body {
    background-color: #EFEFFF;
    
}

header {
    font-family: fantasy, arial, 'sans serif';
    font-weight: bolder;
    text-align:center;
    
    margin:auto;
    background-color: #88BBFF;
    width: 75%;
}

span.header {
    font-size:24px;
}


div.centre {
    margin: auto;
    width: 75%;
    padding: 10px;
    background-color: #B28FDC;
}


span.h2 {
    font-weight: bold;
    font-size:18px;
}

.lightbg {
    background-color:#eeeeff;
}

.darkbg {
    background-color: #99bbff
}

footer {
    padding-top: 20px;
    font-size: 15px;
}

img {
    /*max-width: 100%;*/
    height: auto;
    margin: auto;
    width:40%;
}  

/*table formatting*/
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

p {
    margin-top: 0;
}

.centre {
    margin:auto;
}