header {
    font-family: fantasy, arial, 'sans serif';
    text-align:center;
    margin:auto;
    font-weight: bolder;
}

span.header {
    font-weight: bold;
    font-size:22px
}

span.h2 {
    font-weight: bold;
    font-size:18px;
}

.lightbg {
    background-color:#eeeeff;
}

.darkbg {
    background-color: #99bbff
}

footer {
    padding-top: 20px;
    font-size: 15px;
}

img {
    /*max-width: 100%;*/
    height: auto;
    margin: auto;
    width:49%;
}  

/*table formatting*/
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

p {
    margin-top: 0;
}

.centre {
    margin:auto;
}